<!--html file for the main video component-->
<div class="wrapper-app">
  <header><h1>WebRTC video chat - EX</h1></header>
  <div class="wrapper-content">
    <div><strong>My ID:</strong> {{myId}}</div>
    <div class="connect-caller-buttons">
      <h3>Peers connected:</h3>
      <br>
      <div id="otherClients">
        <button *ngFor="let easyrtcId of (connectedClientsList)" (click)="performCall(easyrtcId)"><h4>Call</h4>{{easyrtcId}}</button>
      </div>
    </div>
    <div class="video-frames">
      <div class="video-self">
        <video id="videoSelf"></video>
      </div>
      <div class="video-caller">
        <video id="videoCaller"></video>
      </div>
    </div>
